# Step 4: Pre-processing

## Imported Libraries and Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import missingno as msno
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve, cross_val_score, KFold
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.tree import DecisionTreeClassifier
import warnings  
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.filterwarnings(action="ignore", module="scipy")

## Data

In [2]:
df = pd.read_csv('collegedata_EDAd.csv')
df.head(2)

,chronname,city,state,level,control,basic,hbcu,flagship,student_count,awards_per_value,...,grad_100_value,grad_150_value,pell_value,retain_value,ft_fac_value,state_sector_ct,carnegie_ct,counted_pct,cohort_size,num_similar
0,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,yes,no,4051.0,14.2,...,10.0,29.1,71.2,63.1,82.8,13.0,386,99.7,882.0,20.0
1,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,no,no,11502.0,20.9,...,29.4,53.5,35.1,80.2,92.4,13.0,106,56.0,1376.0,20.0

In [3]:
print(df.shape)

(3798, 29)

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
student_count,3413.0,2552.958980,2761.697368,23.0,516.000,1492.0,3596.000,11969.0
awards_per_value,3532.0,21.491110,6.849469,3.6,17.000,20.9,25.025,40.3
awards_per_state_value,3313.0,20.951585,3.670954,12.1,18.500,21.7,23.200,31.1
awards_per_natl_value,2407.0,22.793270,1.212146,21.5,21.500,22.5,22.500,25.9
exp_award_value,3580.0,53231.429330,30491.283035,0.0,31386.250,48545.0,70972.250,143700.0
exp_award_state_value,3657.0,57636.617446,27975.482849,12346.0,35515.000,53245.0,75743.000,144220.0
exp_award_natl_value,3798.0,60903.577672,29892.281333,24795.0,37780.000,38763.0,101725.000,101725.0
ft_pct,3794.0,71.092198,25.056818,3.8,49.800,77.0,93.900,100.0
fte_value,3417.0,2157.546386,2162.321634,33.0,559.000,1388.0,2970.000,9548.0
aid_value,3424.0,6254.176694,3550.105453,294.0,3924.750,4903.5,7226.000,17309.0
endow_value,2050.0,8677.865366,10730.837786,0.0,1164.500,4119.0,11874.750,46513.0
grad_100_value,3449.0,27.993737,22.799859,0.0,8.900,22.3,42.900,95.3
grad_150_value,3467.0,42.407586,23.460824,0.0,22.700,41.1,60.250,100.0
pell_value,3797.0,47.572057,20.065216,0.0,32.400,44.7,62.500,100.0
retain_value,3476.0,67.250575,15.214920,24.7,56.675,67.2,78.300,100.0
ft_fac_value,3785.0,45.107477,24.726902,0.0,25.700,41.5,63.000,100.0
state_sector_ct,3569.0,29.136173,20.325737,1.0,13.000,23.0,42.000,82.0
carnegie_ct,3798.0,232.557662,156.960653,1.0,106.000,169.0,343.000,517.0
counted_pct,3371.0,57.648532,25.479066,0.0,38.100,58.6,77.700,100.0
cohort_size,3168.0,426.810290,401.965860,1.0,111.750,312.0,604.000,1758.0
num_similar,3798.0,18.846761,4.662675,0.0,20.000,20.0,20.000,20.0

In [5]:
print(df.columns)

Index(['chronname', 'city', 'state', 'level', 'control', 'basic', 'hbcu',
       'flagship', 'student_count', 'awards_per_value',
       'awards_per_state_value', 'awards_per_natl_value', 'exp_award_value',
       'exp_award_state_value', 'exp_award_natl_value', 'ft_pct', 'fte_value',
       'aid_value', 'endow_value', 'grad_100_value', 'grad_150_value',
       'pell_value', 'retain_value', 'ft_fac_value', 'state_sector_ct',
       'carnegie_ct', 'counted_pct', 'cohort_size', 'num_similar'],
      dtype='object')

## Cleaning data

In [6]:
# Drop Unnecessary variables from the dataframe
irrelevant_features_list = ['chronname', 'city', 'state']
df.drop(columns=irrelevant_features_list, inplace=True)
print(df.shape)

(3798, 26)

**Missing values:**

In [14]:
null_values= df.isna().sum()
percent_null_values = ((null_values / len(df)) * 100).sort_values(ascending=False)
print(percent_null_values)

endow_value               46.024223
awards_per_natl_value     36.624539
cohort_size               16.587678
awards_per_state_value    12.769879
counted_pct               11.242759
student_count             10.136914
fte_value                 10.031596
aid_value                  9.847288
grad_100_value             9.189047
grad_150_value             8.715113
retain_value               8.478146
awards_per_value           7.003686
state_sector_ct            6.029489
exp_award_value            5.739863
exp_award_state_value      3.712480
ft_fac_value               0.342285
ft_pct                     0.105319
pell_value                 0.026330
carnegie_ct                0.000000
level                      0.000000
control                    0.000000
exp_award_natl_value       0.000000
flagship                   0.000000
hbcu                       0.000000
basic                      0.000000
num_similar                0.000000
dtype: float64

**Impute missing values:**

**Encoding Features:**

In [ ]:
df.level.unique()

In [ ]:
#OneHot encoding 
df = pd.get_dummies(df, columns=['level'], drop_first=False, prefix='level')

#Rename
df.rename(columns={
    'level_2-year':'2_yr_inst',
    'level_4-year':'4_yr_inst'
}, inplace=True)

In [ ]:
df.control.unique()

In [ ]:
df = pd.get_dummies(df, columns=['control'], drop_first=False, prefix='c')
#Rename
df.rename(columns={
    'c_Public':'public',
    'c_Private not-for-profit':'private',
    'c_Private for-profit':'private_fp'
}, inplace=True)

In [ ]:
df.hbcu.unique()

In [ ]:
df = pd.get_dummies(df, columns=['hbcu'], drop_first=False)

In [ ]:
df.flagship.unique()

In [ ]:
df = pd.get_dummies(df, columns=['flagship'], drop_first=False)

In [ ]:
print(df.columns)

In [ ]:
counts = df.basic.value_counts()
print(counts)

In [ ]:
#Limit columns in 'basic'
mask = df['basic'].isin(counts[counts <=114].index)
df['basic'][mask] = 'Other'
print(df.basic.unique())

In [ ]:
#OneHot encoding 
df = pd.get_dummies(df, columns=['basic'], drop_first=False, prefix='B')

#Rename
df.rename(columns={
    'B_Masters Colleges and Universities--larger programs':'masters_lp',
    'B_Baccalaureate Colleges--Arts & Sciences':'bachelors_as',
    'B_Associates--Public Rural-serving Medium':'associates_pr_sm',
    'B_Baccalaureate Colleges--Diverse Fields':'bacelors_df',
    'B_Baccalaureate/Associates Colleges':'bachelors_associates',
    'B_Associates--Public Rural-serving Large':'associates_pr_sl',
    'B_Associates--Public Urban-serving Multicampus':'associates_pu_multi',
    'B_Masters Colleges and Universities--medium programs':'masters_mp',
    'B_Associates--Private For-profit':'associates_privatefp',
    'B_Other':'Other_institutions'
}, inplace=True)

In [ ]:
# Convert boolean features to binary (0 and 1)
for feature in df.select_dtypes(include=['bool']):
    df[feature] = df[feature].astype(int)

In [ ]:
cols_to_convert = ['cohort_size', 'num_similar', 'grad_100_value', 'grad_150_value', 'retain_value', 'student_count', 
                   'awards_per_value', 'fte_value', 'exp_award_state_value', 'exp_award_natl_value']
df[cols_to_convert] = df[cols_to_convert].astype(int)

In [ ]:
df.info()

## Correlation between Features

In [ ]:
# A heatmap of correlation between features
plt.figure(figsize=(12, 10))
sns.heatmap(df.corr(), fmt='.2f')
plt.title('Correlation Matrix Heatmap')
plt.show();

In [ ]:
sns.pairplot(data=df)

## Train/Test Split

In [ ]:
len(df) * .8, len(df) * .2

In [ ]:
X = df.drop(columns=['awards_per_value'])
y = df['awards_per_value']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 21)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Save Pre-processed dataset to csv file

In [ ]:
df.to_csv('preprocessed_collegedata.csv', index=False)